<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>Biking</h2>
    </header>

    <form method="post">
      <div class="row 50%">
        <div class="6u">
          {{input id='startAddress' value=startBike  type="text" placeholder="Starting address"}}
        </div>

        <div class="6u">
          {{input id='endAddress' value=endBike type="text" placeholder="Ending address"}}
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" id='calculate' {{action 'calculateBikeMiles' startBike endBike}}/>
        </div>
      </div>
    </form>

    {{#if distance}}
      <p class="bike-miles">
        Distance biked: {{distance}} miles
        Emissions saved by biking: {{emissions}} pounds of CO2
      </p>

      <input type="submit" value="Save Trip" id='saveBike' {{action 'saveBike' startBike endBike distance emissions}}/>
    {{/if}}
  </div>
</section>
