<h3>Biking</h3>

<form class="">
  <div class="form-group">
    <span class="label label-default">Starting address</span>
    {{input id='startAddress' value=startBike placeholder="starting address" class='form-control'}}
  </div>

  <div class="form-group">
    <span class="label label-default">Ending address</span>
    {{input id='endAddress' value=endBike placeholder='ending address' class='form-control'}}
  </div>

  <button class="btn btn-primary" id='calculate' {{action 'calculateBikeMiles' startBike endBike}}>Calculate</button>
</form>

{{#if distance}}
<div class="bike-miles">
  Distance biked: {{distance}}
  Emissions saved: {{emissions}}
</div>
<button class="btn btn-primary" id='saveBike' {{action 'saveBike' startBike endBike distance emissions}}>Save bike leg</button>
{{/if}}
