<h3>Busing</h3>

<form class="">
  <div class="form-group">
    <span class="label label-default">Route</span>
    {{input id='route' value=route placeholder='route' class='form-control'}}
  </div>

  <div class="form-group">
    <span class="label label-default">Direction</span>

    <div name="direction">
      {{view 'select'
        id='direction'
        content=directions
        value=selectedDirection
        optionValuePath="content.id"
        optionLabelPath="content.lengthyDirection"
        selectionBinding="content.selectedObject"}}
    </div>
  </div>

  <div class="form-group">
    <span class="label label-default">Starting address</span>
    {{input id='startAddress' value=startBus placeholder='starting address' class='form-control'}}
  </div>

  <div class="form-group">
    <span class="label label-default">Ending address</span>
    {{input id='endAddress' value=endBus placeholder='ending address' class='form-control'}}
  </div>

  <button class="btn btn-primary" id='calculate' {{action 'calculateBusMiles' startBus endBus route selectedDirection}}>Calculate</button>
</form>

{{#if distance}}
<div class="bus-miles">
  Distance bused: {{distance}} miles.
  Emissions saved: {{emissions}} pounds of CO2
</div>
<button class="btn btn-primary" id='saveBus' {{action 'saveBus' startBus endBus route selectedDirection distance emissions}}>Save bus leg</button>
{{/if}}
