<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>Bus</h2>
    </header>

    <form method="post">
      <div class="row 50%">
        <div class="6u">
          {{input id='route' value=route placeholder='Route' type="text"}}
        </div>

        <div class="6u">
          <div name="direction">
            {{view 'select'
              placeholder="direction"
              id='direction'
              content=directions
              value=selectedDirection
              optionValuePath="content.id"
              optionLabelPath="content.lengthyDirection"
              selectionBinding="content.selectedObject"}}
          </div>
        </div>
      </div>

      <div class="row 50%">
        <div class="6u">
          {{input id='startAddress' value=startBus placeholder="Starting address" type="text"}}
        </div>

        <div class="6u">
          {{input id='endAddress' value=endBus type="text" placeholder="Ending address"}}
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" id='calculate' {{action 'calculateBusMiles' startBus endBus route selectedDirection}}/>
        </div>
      </div>
    </form>

    {{#if distance}}
      <p class="bike-miles">
        Distance bused: {{distance}} miles
        Emissions saved by busing: {{emissions}} pounds of CO2
      </p>

      <input type="submit" value="Save Trip" id='saveBus' {{action 'saveBus' startBus endBus route selectedDirection distance emissions}}/>
    {{/if}}
  </div>
</section>
