<section id="portfolio" class="two">
  <div class="container">
    <header>
      <h2>Trip History</h2>
    </header>

    <table class="table_Trips">
      <tr>
        <th><strong>Date</strong></th>
        <th><strong>Mode</strong></th>
        <th><strong>Miles</strong></th>
        <th><strong>Emissions Saved</strong></th>
        <th><strong>Start</strong></th>
        <th><strong>End</strong></th>
        <th></th>
      </tr>

      {{#each leg in model}}
      <tr>
        <td>{{formatted-date leg.created_at 'MMMM Do, YYYY'}}</td>
        <td>
          {{#if leg.modeIsWalk}}
            <i class="fa fa-child"></i>
          {{/if}}

          {{#if leg.modeIsBike}}
            <i class="fa fa-bicycle"></i>
          {{/if}}

          {{#if leg.modeIsBus}}
            <i class="fa fa-bus"></i>
          {{/if}}

          {{#if leg.modeIsBART}}
            <i class="fa fa-subway"></i>
          {{/if}}
        </td>
        <td>{{leg.distance}}</td>
        <td>{{leg.emissions}}</td>
        <td>{{leg.start_location}}</td>
        <td>{{leg.end_location}}</td>
        <td><i class="fa fa-minus-circle" {{action 'deleteLeg' leg}}></i></td>
      </tr>
      {{/each}}
    </table>

    <p>
      Walk Miles: {{totalWalk}}
      Walking Emissions Saved: {{totalWalkEms}}
    </p>

    <p>
      Bike Miles: {{totalBike}}
      Bike Emissions Saved: {{totalBikeEms}}
    </p>

    <p>
      Bus Miles: {{totalBus}}
      Busing Emissions Saved: {{totalBusEms}}
    </p>

    <p>
      BART Miles: {{totalBART}}
      BART Emissions Saved: {{totalBartEms}}
    </p>

    <p>
      Total Miles: {{totalMiles}}
      Total Emissions Saved: {{totalEmissions}}
    </p>

  </div>
</section>
