<h1>Your history</h1>

<div class="">
  {{#each leg in model}}

  <div class="row">
  <div class="col-md-1">{{leg.mode}}</div>
  <div class="col-md-2"> {{leg.start_location}}</div>
  <div class="col-md-2">{{leg.end_location}} </div>
  <div class="col-md-1">{{leg.route}}</div>
  <div class="col-md-1">{{leg.direction}}</div>
  <div class="col-md-2"> {{leg.distance}} </div>
  <div class="col-md-2">{{leg.emissions}}</div>
  <div class="col-md-1"><i class="fa fa-minus-circle" {{action 'deleteLeg' leg}}></i></div>

  {{/each}}

</div>
