<section id="contact" class="four">
  <div class="container">
    <header>
      <h2>Walking</h2>
    </header>

    <form method="post">
      <div class="row 50%">
        <div class="6u">
          {{input id='startAddress' value=startWalk  type="text" placeholder="Starting address"}}
        </div>

        <div class="6u">
          {{input id='endAddress' value=endWalk type="text" placeholder="Ending address"}}
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" id='calculate' {{action 'calculateWalkMiles' startWalk endWalk}}/>
        </div>
      </div>
    </form>

    {{#if distance}}
      <p class="walk-miles">
        Distance walked: {{distance}} miles
        Emissions saved by walking: {{emissions}} pounds of CO2
      </p>

      <input type="submit" value="Save Trip" id='saveWalk' {{action 'saveWalk' startWalk endWalk distance emissions}}/>
    {{/if}}

  </div>
</section>
