<h3>Walking</h3>

<section class="content bgcolor-3">

  <span class="input input--kohana">
    {{input id='startAddress' value=startWalk class='input__field input__field--kohana' type="text"}}
    <label class="input__label input__label--kohana" for="startAddress">
      <i class="fa fa-fw fa-flag icon icon--kohana"></i>
      <span class="input__label-content input__label-content--kohana">Starting Address</span>
    </label>
  </span>

  <span class="input input--kohana">
    {{input id='endAddress' value=endWalk class='input__field input__field--kohana' type="text"}}
    <label class="input__label input__label--kohana" for="startAddress">
      <i class="fa fa-fw fa-flag-checkered icon icon--kohana"></i>
      <span class="input__label-content input__label-content--kohana">Ending Address</span>
    </label>
  </span>

  <button class="btn btn-primary" id='calculate' {{action 'calculateWalkMiles' startWalk endWalk}}>Calculate</button>

  {{#if distance}}
    <div class="walk-miles">
      Distance walked: {{distance}}
      Emissions walked: {{emissions}}
    </div>

    <button class="btn btn-primary" id='saveWalk' {{action 'saveWalk' startWalk endWalk distance emissions}}>Save walk leg</button>
  {{/if}}

</section>
