<h3>Walking</h3>

<div class="row">
  <div class=".col-md-5">
    <form class="">
      <div class="form-group">
        <span class="label label-default">Starting address</span>
        {{input id='startAddress' value=startWalk placeholder='starting address' class='form-control' }}
      </div>

      <div class="form-group">
        <span class="label label-default">Ending address</span>
        {{input id='endAddress' value=endWalk placeholder='ending address' class='form-control'}}
      </div>

      <button class="btn btn-primary" id='calculate' {{action 'calculateWalkMiles' startWalk endWalk}}>Calculate</button>
    </form>
  </div>

  <div class=".col-md-5">
    {{#if distance}}
    <div class="walk-miles">
      Distance walked: {{distance}}
      Emissions saved: {{emissions}}
    </div>
    <button class="btn btn-primary" id='saveWalk' {{action 'saveWalk' startWalk endWalk distance emissions}}>Save bike leg</button>
    {{/if}}
  </div>
</div>
